#imageButton {
  background-image: url('/images/brush.png'); /* Path to your image */
  background-size: cover; /* This ensures your image covers the button */
  height: 32px; /* Height of the button */
  width: 32px; /* Width of the button */
  border: none; /* Optional: removes the border */
  cursor: pointer; /* Changes the cursor on hover */
  /*color: initial; !* Set the initial font color *!*/
  /*display: block; !* Ensures the button is treated as a block-level element *!*/
}

/*.aquaColor {*/
/*  color: aqua; !* This class changes the font color to aqua *!*/
/*}*/

#imageButton.brushDark {
  background-image: url('/images/brush-dark.png');
}
